@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to deployment slot environment</h1>
    <p>"Learn with Ankit AG to build and deploy the webapp to azure using jenkins"</a>.</p>
</div>
